In [1]:
#BL.EN.U4CSE21137
#Nichenametla Hima Sree

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("Lab08_data.csv")
data

        Age  Income Student Credit_Rating Buys_Computer
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2   31---40    high      no          fair           yes
3       >40  medium      no          fair           yes
4       >40     low     yes          fair           yes
5       >40     low     yes     excellent            no
6   31---40     low     yes     excellent           yes
7      <=30  medium      no          fair            no
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31---40  medium      no     excellent           yes
12  31---40    high     yes          fair           yes
13      >40  medium      no     excellent            no

In [6]:
n = len(data)
count_yes = count_no = 0
for i in range(0,n):
    if data['Buys_Computer'][i] == "yes":
        count_yes += 1
    if data['Buys_Computer'][i] == "no":
        count_no += 1
pr_yes = count_yes/n
pr_no = count_no/n
print(pr_yes)
print(pr_no)

0.6428571428571429
0.35714285714285715

In [10]:
def cond_prob(value,feature, target):
    d1 = data[data['Buys_Computer'] == target]
    d2 = d1[d1[feature] == value]
    return len(d2)/len(d1)

In [15]:
#Income
prob1 = cond_prob("high","Income","yes")
print(prob1)
prob2 = cond_prob("medium","Income","yes")
print(prob2)
prob3 = cond_prob("low","Income","yes")
print(prob3)
prob4 = cond_prob("high","Income","no")
print(prob4)
prob5 = cond_prob("medium","Income","no")
print(prob5)
prob6 = cond_prob("low","Income","no")
print(prob6)

0.2222222222222222
0.4444444444444444
0.3333333333333333
0.4
0.4
0.2

In [20]:
#Student
prob1 = cond_prob("yes","Student","yes")
print(prob1)
prob2 = cond_prob("no","Student","yes")
print(prob2)
prob3 = cond_prob("yes","Student","no")
print(prob3)
prob4 = cond_prob("no","Student","no")
print(prob4)

0.6666666666666666
0.3333333333333333
0.2
0.8

In [24]:
#credit rating
prob1 = cond_prob("fair","Credit_Rating","yes")
print(prob1)
prob2 = cond_prob("excellent","Credit_Rating","yes")
print(prob2)
prob3 = cond_prob("fair","Credit_Rating","no")
print(prob3)
prob4 = cond_prob("excellent","Credit_Rating","no")
print(prob4)

0.6666666666666666
0.3333333333333333
0.4
0.6

In [27]:
#Age
prob1 = cond_prob("<=30","Age","yes")
print(prob1)
prob2 = cond_prob("31...40","Age","yes")
print(prob2)
prob3 = cond_prob(">40","Age","yes")
print(prob3)
prob4 = cond_prob("<=30","Age","no")
print(prob4)
prob5 = cond_prob("31...40","Age","no")
print(prob5)
prob6 = cond_prob(">40","Age","no")
print(prob6)

0.2222222222222222
0.0
0.3333333333333333
0.6
0.0
0.4